---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import BookIcon from "../icons/Book.astro";
import SpotifyIcon from "../icons/Spotify.astro";
import Mail from "../icons/Mail.astro";
import Button from "../components/Button.astro";
---

<Layout title="7R0N1X">
  <main class="h-screen w-screen flex flex-col justify-center items-center">
    <div class="absolute top-0 left-0 w-screen h-screen bg-[#000000c5]"></div>
    <div
      class="max-sm:bg-transparent flex flex-col justify-center items-center text-white w-96 max-sm:w-screen max-sm:h-screen max-sm:px-8 z-10"
    >
      <h1 class="text-2xl font-bold">
        <span>&lt;7R0N1X/&gt;</span>
      </h1>
      <p class="text-md mt-2 mb-6">Descubriendo el mundo 🇪🇨</p>

      <!-- Botones -->
      <section class="w-full relative flex flex-col gap-3">
        <Button
          href="https://drive.google.com/drive/folders/1tfxUYQqnD9jzYepBrcwfEIYuGlpwB1RE?usp=sharing"
          name="Libros"
          ><BookIcon class="absolute left-5 size-6" />
        </Button>

        <Button
          href="https://open.spotify.com/playlist/404JI87iaaFIisHJscuot8?si=47c26afacc7e4b01"
          name="Playlist"
          ><SpotifyIcon class="absolute left-5 size-6" />
        </Button>

        <Button 
          href="https://github.com/7R0N1X"
          name="Github"
          ><GithubIcon class="absolute left-5 size-6" /></Button
        >

        <Button
          href="https://www.linkedin.com/in/ing-eduardomolina"
          name="LinkedIn">
          <LinkedInIcon class="absolute left-5 size-6" /></Button>

        <Button
          href="mailto:info.tronix.dev@gmail.com"
          name="Contáctame"
          ><Mail class="absolute left-5 size-6" /></Button
        >
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    background: url("/background.webp") no-repeat center/cover;
  }
</style>
