---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import Button from "../components/Button.astro";
---

<Layout title="7R0N1X">
  <main>
    <div
      class="flex flex-col justify-center items-center p-12 text-white w-96 rounded-2xl shadow-md backdrop-blur-sm backdrop-filter border border-white animate-zoom-in"
    >
      <img
        class="w-32 h-32 rounded-full object-cover border-2 border-white mb-3"
        src="/profile.webp"
        alt="Profile Picture"
      />
      <h1 class="text-2xl font-bold">
        <span>&lt;7R0N1X/&gt;</span>
      </h1>
      <p class="text-md">Ing. Sistemas de Información</p>
      <div class="mt-2 mb-2">
        <Icon href="https://www.linkedin.com/in/ing-eduardomolina" type="bi bi-linkedin" name="Linkedin" />
        <Icon href="https://ko-fi.com/7r0n1x" type="bi bi-cup-hot-fill" name="Ko-fi" />
        <Icon href="https://www.tiktok.com/@tronix.dev" type="bi bi-tiktok" name="Tiktok"/>
        <Icon href="https://www.instagram.com/tronix.dev" type="bi bi-instagram" name="Instagram"/>
      </div>
      <Button
        href="https://drive.google.com/drive/folders/1tfxUYQqnD9jzYepBrcwfEIYuGlpwB1RE?usp=sharing"
        name="Libros"
      />
      <Button href="https://github.com/7R0N1X" name="Github" />
      <Button
        href="https://open.spotify.com/playlist/404JI87iaaFIisHJscuot8?si=47c26afacc7e4b01"
        name="Developer Mode"
      />
      <Button href="mailto:info.tronix.dev@gmail.com" name="Contáctame" />
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
  span {
    display: block;
    font-family: "Source Code Pro", monospace;
    white-space: nowrap;
    border-right: 2px solid;
    width: 9.2ch;
    animation:
      typing 2s steps(9),
      blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
