---
interface Props {
  href: string;
  icon: string;
  name: string;
}

const { name, href, icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="flex items-center w-full border bg-[#0a0a0a00] text-white py-3 my-2 px-4 cursor-pointer rounded-md transition ease-in-out hover:bg-[#141414]"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    viewBox="0 0 16 16"
  >
    <path d={icon}></path>
  </svg>
  <span class="flex-1 text-center">{name}</span>
</a>
