---
interface Props {
  href: string;
  icon: string;
  name: string;
}

const { name, href, icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="flex justify-center items-center w-full bg-[#0a0a0a] text-white py-3 my-2 px-4 cursor-pointer rounded-md hover:bg-[#141414]"
>
  <svg
    class="mr-2"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="28"
    height="28"
    viewBox="0 0 50 50"
    fill="#ffffff"
  >
    <path d={icon}></path>
  </svg>
  <span class="">{name}</span>
</a>
