---
interface Props {
  href: string;
  type: string;
  name: string;
}

const { href, type, name } = Astro.props;
---

<a href={href} target="_blank" aria-label={name} class="ml-1 hover:animate-blurred-fade-in"><i class={`text-xl ${type}`}></i></a>
