---
interface Props {
  href: string;
  ariaLabel: string;
  icon: string;
}

const { href, ariaLabel, icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  aria-label={ariaLabel}
  class="hover:animate-blurred-fade-in text-white w-5 h-5"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="#ffffff"
  >
    <path d={icon}></path>
  </svg>
</a>